<div class="container">
	<h2>Logo:</h2>
	<% if @logoActual.image.attached? %>
		<%= image_tag(url_for(@logoActual.image),class:'img-fluid img-thumbnail' , alt:"Slider") %>
	<% end %>
	<hr>
	<%= form_for @logo , url: admin_logos_path(@logo) do |g| %>
		<div class="form-group row">
            <%= g.label :name, "Imagen: ", class:"col-sm-3 col-form-label"%>
            <div class="col-sm-4">
               <%= g.file_field :image, required:true %>
            </div>
        </div>
        
		<div class="form-group row">
            <div class="col-sm-10">
                <%= g.submit "Nuevo Logo", class:"btn btn-primary" %>
            </div>
        </div>
	<% end %>
	<hr>
 	<%= link_to "Nuevo Slider", new_admin_slider_path,  class:"btn btn-primary" %>
	<br>
	<br>
	<div class="row">
		<div class="col-12">
			<table class="table table-image">
				<thead>
					<tr>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th scope="col"></th>
					</tr>
				</thead>
				<% @sliders.order("created_at desc").each do |slider| %>
					<tbody>
						<tr>
						<td class="w-25">
							<%= image_tag(url_for(slider.image),class:'img-fluid img-thumbnail' , alt:"Slider") %>
						</td>
						<td><%= link_to slider.name, admin_slider_path(:id => slider.id) %></td>
						<td><%= link_to "X", admin_slider_path(:id => slider.id), :method => :delete ,data:{confirm:"Estas seguro de borrar este slider"} %></td>
						</tr>
					</tbody>
				<% end %>
			</table>   
		</div>
	</div>
</div>
</div>