<div class="container">
 	<%= link_to "Nuevo Producto", new_admin_product_path,  class:"btn btn-primary" %>
	<br>
	<br>
	<div class="row">
		<div class="col-12">
			<table class="table table-image">
				<thead>
					<tr>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th scope="col">Activo</th>
					<th scope="col">Precio</th>
					<th scope="col"></th>
					</tr>
				</thead>
				<% @products.order("created_at desc").each do |product| %>
					<tbody>
						<tr>
						<td class="w-25">
							<% imageActive = product.imageActive %>
							<% product.images.each do |image| %>
								<% if product.imageActive == image.id %>
									<%= image_tag(url_for(image),class:'img-fluid img-thumbnail' , alt:"Slider") %>
								<% end %>
							<% end %>
						</td>
						<td><%= link_to product.name, admin_product_path(:id => product.id) %></td>
						<td><%= product.active %></td>
						<td><%= product.price %></td>
						<td><%= link_to "X", admin_product_path(:id => product.id), :method => :delete ,data:{confirm:"Estas seguro de borrar este producto"} %></td>
						</tr>
					</tbody>
				<% end %>
			</table>   
		</div>
	</div>
</div>