<div class="container">
 	<%= link_to "Nuevo Producto", new_admin_product_path,  class:"btn btn-primary" %>
	<br>
	<br>
	<div class="row">
		<div class="col-12">
			<table class="table table-image">
				<thead>
					<tr>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th scope="col">Activo</th>
					<th scope="col">Precio</th>
					<th scope="col"></th>
					</tr>
				</thead>
				<% @products.order("created_at desc").each do |product| %>
					<tbody>
						<tr>
						<td class="w-25">
							<%= image_tag(url_for(product.image),class:'img-fluid img-thumbnail' , alt:"Slider") %>
						</td>
						<td><%= product.name %></td>
						<td><%= product.active %></td>
						<td><%= product.price %></td>
						<td>X</td>
						</tr>
					</tbody>
				<% end %>
			</table>   
		</div>
	</div>
</div>