<div class="cotainer ml-2">
    <%= form_for @user , url: admin_users_path(@user) do |f| %>
        <div class="form-group row">
            <%= f.label :email, "Email: ", class:"col-sm-3 col-form-label"%>
            <div class="col-sm-4">
                <%= f.email_field :email,class: "form-control" , placeholder: "Escriba el email del usuario", required:true  %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :username, "Nombre: " ,class:"col-sm-3 col-form-label"%>
            <div class="col-sm-4">
                <%= f.text_field :username,class: "form-control" , placeholder: "Escriba el nombre del usuario", required:true  %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :password, "Contraseña: " ,class:"col-sm-3 col-form-label"%>
            <div class="col-sm-4">
                <%= f.password_field :password,class: "form-control" ,placeholder:"***********",autocomplete: "new-password", required:true  %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :password_confirmation, "Repita la Contraseña: " ,class:"col-sm-3 col-form-label"%>
            <div class="col-sm-4">
                <%= f.password_field :password_confirmation,class: "form-control" ,placeholder:"***********",autocomplete: "new-password", required:true  %>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-10">
                <%= f.submit "Nuevo Usuario", class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
    <% if @error.present? %>
        <p class="alert alert-danger"><%= @error %></p>
    <% end %>
</div>